[Unit]
Description=Prefect Edge nginx
After=network-online.target

[Container]
Image=docker.io/library/nginx:alpine
Pod=edge.pod
Volume=/var/lib/prefect/components/edge/nginx.conf:/etc/nginx/nginx.conf:ro
Volume=/var/lib/prefect/components_data/edge/routes:/etc/nginx/prefect-routes:ro
Volume=/var/lib/prefect/components_data/edge/certs:/etc/nginx/certs:ro

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
