[Unit]
Description=Propraetor example web-api-with-db app

[Container]
Image=docker.io/library/nginx:alpine
ContainerName=web-api-with-db-api
Pod=web-api-with-db.pod
Volume=/var/lib/host-volume/components_data/workloads/web-api-with-db:/var/lib/workload:rw

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
